{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

  <main class="content">
    <article class="post">
      <header>
        <h1>{{ .Title }}</h1>
        <div class="postmeta">
          {{ with .Params.location }}Photos taken in {{ . }} on {{ end }}
          <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
          {{ with .Params.camera }} with {{ . }}{{ end }}
        </div>
      </header>
      <div class="content-body prose">
        {{ .Content }}
      </div>
    </article>
  </main>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
