<article class="micropost">
  {{ if isset .Site.Params "summarizemicroposts" | and ( eq .Site.Params.summarizemicroposts true ) }}
    {{ if (not (isset .Params "externalurl")) }}
      <h2><a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ else }}
        <h2><a rel="remote-article" href="{{ .Params.externalurl }}">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>
    {{ end }}

    <div class="postmeta">Posted on <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ if (isset .Params "categories") }}
        in
        <span class="categories">
          {{ range $i, $v := .Params.categories }}
            <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
          {{ end }}
        </span>
      {{ end }}
    </div>

    <div class="content-body prose">
      {{ if or (not (isset .Params "externalurl")) }}
        {{ .Summary }}
      {{ else }}
        {{ .Content }}
      {{ end }}
    </div>

    {{ if .Truncated }}
      {{ if (not (isset .Params "externalurl")) }}
        <a class="continue" rel="full-article" href="{{ .Permalink }}">Continue Reading &raquo;</a>
      {{ end }}
    {{ end }}
  {{ else }}
    <div class="content-body prose">
      {{ .Content }}
    </div>
    <a href='{{ .Permalink }}'><aside class="dates">→ {{ .Date.Format "2006/01/02 3:04 PM" }}</aside></a>
  {{ end }}
</article>
